
#trackerbody{
    margin-top: 10px;
    background-color:white;
	/*line-height: 30px;*/
	/*font-size: 15px;*/
	text-transform: capitalize;
}

.nav-pills>li.active>a, .nav-pills>li.active>a:hover, .nav-pills>li.active>a:focus {
    background-color: #06BBB5;
    border-radius: 20px;
    color: white;
	}
