body{
    background-color: #06BBB5;
}

/*#heading{
     
}*/
#heading p{
    color: white;
    font-size: 30px;
    float: left;
 }
@media only screen and (max-width: 767px) {
    #heading p{
        float: none;
        text-align: center;
    }
}

#aboutus{
    text-align: justify;
    color: white;
}
#aboutuscollapse{
    float: none;
    font-size: 15px;
    color: white;
}
#block1 {
    background-color: white;
    padding: 50px 30px 90px 30px;
}

.loginbutton {
    background-color: #F9571A;
}

#link1 {
    float: left;
    color: #06BBB5;
    text-decoration: none;
    text-align: center;
}
#link2 {
    float: right;
    color: #06BBB5;
    text-decoration: none;
    text-align: center;
    
}
#panel1 {
    margin-top:60px; 
}
#panel2 {
    margin-top:20px; 

}
#footer{
    color: black;
}
#indeximage{
    margin: 0 auto;
}