#domain{
    float: left;
}
/*.form_block{
    margin-left: 10px;
    margin: 0 auto;
}*/
#blockreg2{
    
}
#blockreg2 h3{
    text-align: center;
}
.child_submit_btn{
    margin-bottom: 20px;
    color: #06BBB5; 
    border-radius: 7px;
    background-color: white;
    border: 1px solid #ddd;
}