.profile-card-title{
            text-align:center;
        }
        .profile-card-btn {
            width: 100%;
            background-color: #06BBB5;
            padding:10px 0;
            border:none;
            color:white;
        }
        
        .profile-card-img {
            margin-top: 10px;
            width: 150px;
            height: 150px;
            border-radius: 50%;
            margin-left: calc(50% - 75px);
            border:2px solid grey;
        }
        .profile-card{
            background-color:white;
        }
        #panel1{
            margin-top: 15px;
        }
@media only screen and (max-width: 500px) {
    .profile-card-img {
            margin-top: 10px;
            width: 123px;
            height: 115px;
            border-radius: 50%;
            margin-left: calc(50% - 60px);
            border:2px solid grey;
        }
        .profile-card-btn {
            padding: 7px 0;
    }
}