body{
    background-color: #ECF1F5
}

#blockreg2{
   
    margin-top: 10px;
    background-color: white;
}

.rules p {
    text-align: justify
}
.rules ul li{
    padding: 8px;
}
.rules2 p {
    text-align: justify
}
.rules2 ul li{
    padding: 8px;
}
#roles{
    margin-top: 10px;
}
table {
    font-family: arial, sans-serif;
    /*border-collapse: collapse;*/
    width: 100%;
}

td, th {
    /*border: 1px solid #dddddd;*/
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #dddddd;
}
.nav-pills>li.active>a {
    background-color: #06BBB5;
    border-radius: 20px;
    color: white;
}
.nav-pills>li.active>a, .nav-pills>li.active>a:hover, .nav-pills>li.active>a:focus {
    background-color: #06BBB5;
    border-radius: 20px;
    color: white;
}
a {
    color: #06bbb5;
    text-decoration: none;
}
.form-control{
    width: auto;
}

ul {
    border-bottom: solid #06BBB5;
}
li{
    padding: 10px;
    padding-left: 10px;
}
#firsttab{
    padding-top: 5px;
    background-color: #f7f7f6;
}
#secondtab{
    padding-top: 5px;
    background-color: #f7f7f6;
}
#code{
    padding-left: 10px;
}
.nav-pills > li > a {
    border-radius: 4px;
    background-color: #f7f7f6; 
    border-radius: 20px;
}
#emailidpresent{
    color:red;
}
#mobilepresent{
    color:red;
}
@media only screen and (max-width: 500px) {
    .form-control{
        width: 100%;
    }
    #mission{
        padding: 0PX;
    }
}
