body{
    background-color: #ECF1F5
}

#body-tag{
        background-color: white
}
.moveleft{
        margin-left:10px;
}

.content{
        margin-top:20px;
        padding-left: 10px;
}
ul {
    border-bottom: solid #06BBB5;
}
li{
    padding: 10px;
    padding-left: 5px;
}

.nav-pills > li > a {
    border-radius: 4px;
    background-color: #f7f7f6; 
    border-radius: 20px;
}
.nav-pills>li.active>a, .nav-pills>li.active>a:hover, .nav-pills>li.active>a:focus {
    background-color: #06BBB5;
    border-radius: 20px;
    color: white;
}
.nav-pills>li.active>a {
    background-color: #06BBB5;
    border-radius: 20px;
    color: white;
}
a {
    color: #06bbb5;
    text-decoration: none;
}
#header{
        margin: 10px;
}
.form-control{
    width: auto;
}
.form-horizontal .control-label{
        text-align: left
}
.tab-center{
    margin: auto;
    width: 100%;
}
.addone{
    margin-right: -15px;
    margin-left: -15px;
}
.preassessmentdata{
    padding: 5px;
}
.prefamilydatas{
    padding: 7px;
}
h5{
    font-weight: bold;
}
.heading{
    text-align: center;
}