#listofmembers{
    margin-top: 15px;
    /*padding: 10px;*/
    
}
#bodycontent{
    text-transform: capitalize;
    margin-top: 10px;
    
    text-overflow: none;
}
.tracker-button button{
   background-color: #06BBB5;
   /*text-align: center;*/
   color: white;
  
   /*float: left;*/
   /*margin-left: 10px;*/
}
.tracker-content{
    text-align: center;
    border-bottom: solid 2px #0f000f;
}
@media screen and (max-width: 480px) {
.tracker-content h5{
    text-align: center;
    font-size: 13px;
    }
}