body{
    background-color: #ECF1F5
}

#body-tag{
        background-color: white
}
.moveleft{
        //margin-left:10px;
}

.content{
        margin-top:20px;
        padding-left: 0px;
}
ul {
    border-bottom: solid #06BBB5;
}
li{
    padding: 10px;
    padding-left: 5px;
}

.nav-pills > li > a {
    border-radius: 4px;
    background-color: #f7f7f6;
    border-radius: 20px;
}
.nav-pills>li.active>a, .nav-pills>li.active>a:hover, .nav-pills>li.active>a:focus {
    background-color: #06BBB5;
    border-radius: 20px;
    color: white;
}
.nav-pills>li.active>a {
    background-color: #06BBB5;
    border-radius: 20px;
    color: white;
}
a {
    color: #06bbb5;
    text-decoration: none;
}
#header{
        margin: 0px;
}
.form-control{
    /*width: auto;*/
}
.form-horizontal .control-label{
        text-align: left
}
.tab-center{
    margin: auto;
    width: 100%;

}
.addone{
    margin-right: -15px;
    margin-left: -15px;
    padding: 0px;
}
.removeone{
    padding: 0px;
}
#PreassessmentForm .nav li{
  padding: 10px 3px;
}

#PreassessmentForm .nav>li>a{
  padding: 9px;
  border-radius: 50%;
}
.particular-header>h4 {
    padding-bottom: 7px;
    font-size: 23px;
}
.edu-details{
  font-size: 18px;
  padding-bottom: 7px;
}
.form-horizontal .form-group{
  margin: 0 0 15px 0;
}
.form-horizontal  .addone1 .form-group,.form-horizontal  .removeone1 .form-group{
  margin: 0 0 8px 0;
}.form-horizontal  .addone1  .control-label,.form-horizontal   .removeone1 .control-label{
  margin-bottom: 0px;
}
.form-horizontal .control-label{
  color:#7f7f7f;
  padding: 0;
  margin-bottom: 7px;
}
.tab-pane *[class*="col-"]{
  padding: 0;
}
.family-detail-head{
  font-weight: bold;
  display: inline-block;
  padding-right: 10px;
}
.no-padding{
  padding: 0;
}
.pager li>a{
  margin-bottom: 10px;
}
.checkbox-section .label-text{
  width: 94px;
}
.addone1-body, .removeone1-body{
  padding: 0 5px !important;
}
