body{
    background-color: #ECF1F5
}

#body-tag{
        background-color: white
}
.moveleft{
        margin-left:10px;
}
#body-tag #header{
        border: 1px solid gray ;
        background-color: #f3f3f3;
}
.content{
        margin-top:20px;
        background-color: #f3f3f3;
}
