body{
    background-color: #ECF1F5
}
#commonblock{
    background-color: #06BBB5;
    font-size: 16px;
    color: white;
    height: 50px;
}
#commonblock p{
    padding: 10px;
}
#commonfooter {
    padding-top: 5px;
    margin: auto;
    background-color: #06BBB5;
    color: white;
}
#header-profile{
    float: right;
}
.logout{
    color: white;
    float: right;
    margin-right: 15px;
    padding: 10px;
    font-size: 25px;
}
.brand{
    padding-top: 5px;
}
#homeblock1{
    background-color: white;
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
}
.homebutton{
    color: white;
    float: right;
    margin-right: 15px;
    padding: 10px;
    font-size: 25px;
}
#headerblock{
    position: fixed;
    top: 0px;
    width: 100%;
    background-color: #06BBB5;
    font-size: 25px;
    color: white;
    height: 50px;
}
#bodyblock{
    position: static;
    /*top: 55px;*/
    height: calc(100% - 100px);
    margin-top: 53px;
    background-color: white;
    /*overflow: scroll;*/
}
#footerblock {
    position: fixed;
    width: 100%;
    bottom: 0;
    background-color: #06BBB5;
    height: 50px;
    padding: 10px;
     text-align: center;
}
.profileimg{
    text-align: center;
}
.loading{
    clear: both;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -50px;
    margin-left: -50px;
    width: auto;
}
.loading_img{
    margin: 0 auto;
}
.no_record{
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -50px;
    margin-left: -75px;
    width: auto;
    /*text-align: center;*/
}
#header_role{
    text-transform: capitalize;
}

.responsecapitalize{
   text-transform: capitalize;  
}
.preassessment_btn{
    padding: 10px;
    border-right: 3px;
    background-color: #06BBB5;
    color: white;
    margin-bottom: 10px;
}
.edit-btn {
    width: 100%;
    background-color: #06BBB5;
    color: white;
    border-radius: 5px;
    margin-top: 5px;
    padding: 3px;
    height: auto;
}
.disabled_field{
    background-color: white !important;
}