body{
    background-color: #ECF1F5
}
#commonblock{
    background-color: #06BBB5;
    font-size: 16px;
    color: white;
    height: 50px;
    position: fixed;
    width: 100%;
    top:0px;
}
.row .box {
    padding: 0px 6px;
}
.row{
    margin-right: -10px;
    margin-left: -10px;
}
.container {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    position: fixed;
    margin-left: auto;
    padding-bottom: 25px;
    height: calc( 100% - 55px );
    top: 55px;
    width: 100%;
    overflow: scroll;
}
.container::-webkit-scrollbar { 
    display: none; 
}
#commonblock p{
    padding: 10px;
}
#commonfooter {
    padding-top: 5px;
    margin: auto;
    background-color: #06BBB5;
    color: white;
}
#header-profile{
    float: right;
}
.logout{
    color: white;
    float: right;
    margin-right: 15px;
    padding: 10px;
    font-size: 25px;
}
.brand{
    padding-top: 5px;
}
#homeblock1{
    background-color: white;
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
}
.homebutton{
    color: white;
    float: right;
    margin-right: 15px;
    padding: 10px;
    font-size: 25px;
}
#headerblock{
    position: fixed;
    top: 0px;
    width: 100%;
    background-color: #06BBB5;
    font-size: 25px;
    color: white;
    height: 50px;
}
#bodyblock{
    position: static;
    /*top: 55px;*/
    height: calc(100% - 100px);
    margin-top: 53px;
    background-color: white;
    /*overflow: scroll;*/
}
#footerblock {
    position: fixed;
    width: 100%;
    bottom: 0;
    background-color: #06BBB5;
    height: 50px;
    padding: 10px;
     text-align: center;
}
.profileimg{
    text-align: center;
}
.loading_container{
    position: absolute;
    background-color: rgba(0, 0, 0, 0.51);
    height: 100%;
    width: 100%;
    top: 0;
    z-index: 11;
}
.loading{
    clear: both;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -90px;
    margin-left: -90px;
    width: auto;
    z-index: 1;
}
.loading_img{
    margin: 0 auto;
}
.no_record{
    position: absolute;
    width: 100%;
    text-align: center;
    top: calc( 50% - 28px);
}
#header_role{
    text-transform: capitalize;
}

.responsecapitalize{
   text-transform: capitalize;  
}
.preassessment_btn{
    padding: 10px;
    border-right: 3px;
    background-color: #06BBB5;
    color: white;
    margin-bottom: 10px;
}
.edit-btn {
    width: 100%;
    background-color: #06BBB5;
    color: white;
    border-radius: 5px;
    margin-top: 5px;
    padding: 3px;
    height: auto;
}
.disabled_field{
    background-color: white !important;
}
@media screen and (max-width: 599px){
    .marginB10-mob{
        margin-bottom: 10px;
    }
    .container {
        padding: 0 10px;
    }
    #childheading h3{
        padding: 5px 0px;   
    }
}
.homeicons{
    padding: 0px;
}