body{
    background-color: #ECF1F5
}
#commonblock{
    background-color: #06BBB5;
    font-size: 25px;
    color: white;
    height: 50px;
}
#commonfooter {
    position: fixed;
    /*bottom: 0px;*/
    /*width: 100%;*/
    margin: auto;
    background-color: #06BBB5;
    color: white;
    padding-top: 10px;
}
#header-profile{
    float: right;
}
.logoutbutton{
    text-decoration: none;
    color: white;
}
.logout{
    float: right;
    margin-right: 15px;
    padding: 10px;
}
.brand{
    padding-top: 5px;
}
